$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__company-primary: #040135; // Primaire kleur van website
$color__company-primary-light: #110981;

$color__company-secondary: #48B5FC; // Secondaire kleur van website
$color__company-tertiary: #F15A14; // Tertiary kleur van website
$color__company-quaternary: #F02317;
$color__light-gray:  rgba(4, 0, 61, 0.07);
$color__dark-gray:#dfdfe0;

$color__gray:#aeaeaf;

$color__link: $color__company-primary;
$color__link-visited: $color__company-primary;
$color__link-hover: $color__company-secondary;
$color__text-main: #04003D;

$color__primary-btn-left: #F15A14;
$color__primary-btn-right: #F02317;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
