// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Transition
@mixin transition() {
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes FadeInSlow {
  0% {
    opacity:0;
  }

  20% {
    opacity:0.2;
  }
  40% {
    opacity:0.4;
  }
  60% {
    opacity:0.6;
  }  
  80% {
    opacity:0.8;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes FadeInScaleUp {
  0% {
    opacity:0;
    transform: scale(.85);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes FadeInLeft {
  0% {
    opacity:0;
    transform:translateX(-10%);
  }
  80% {
    opacity:1;
  }
  100% {
    opacity:1;
    transform:translateX(0);
  }
}

@-webkit-keyframes FadeInTop {
  0% {
    opacity:0;
    transform:translateY(-30%);
  }
  80% {
    opacity:1;
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}

@-webkit-keyframes FadeInDown {
  0% {
    opacity:0;
    transform:translateY(30%);
  }
  80% {
    opacity:1;
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}

@-webkit-keyframes WidthMenu {
  0% {
    width: 0;
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    width: 40px;
    opacity: 1;
  }
}

@-webkit-keyframes WidthMenuSmall {
  0% {
    width: 0;
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    width: 32px;
    opacity: 1;
  }
}

@-webkit-keyframes DisappearLeft {
  0% {
    opacity:1;
    transform:translateX(-0%);
    background-color: white;
  }
  25% {
    opacity:1;
    transform:translateX(-0%);
    background-color: white;
  }
  100% {
    opacity:0;
    background-color: transparent;
    transform:translateX(-100%);
  }
}

@-webkit-keyframes BackgroundZoomIn {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}

@-webkit-keyframes BackgroundPositionLeftRight {
  0% {
    background-position-x: 50%;
  }
  33% {
    background-position-x: 230%;
  }
  66% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 40%;
  }
}
