// animate-1
.in-viewport-fade-in {
  opacity: 1!important;
  color: white!important;
  transform: translateX(0%)!important;
  opacity: 1!important;
  transform: rotateX(0deg)!important;
}

// animate-2
.in-viewport-full-opacity {
  opacity: 1!important;
}

// animate-3
.in-viewport-opacity {
  opacity: 0.4!important;
}

//  animate-4
.in-viewport-rotate {
  transform: translateX(0%)!important;
  opacity: 1 !important;
  transform: rotateX(0deg)!important;
}


