.home-services {
  min-height: 800px;
  display: flex;
  align-items: center;
  padding: 50px 0;
  background-color: $color__light-gray;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 60%,
    rgba(4, 0, 61, 0.1) 100%
  );

  @media (min-width: 768px) {
     padding: 100px 0;

    }
  &__left {
    display: flex;
    flex-direction: column;
    margin-left: -15px;

    @media (min-width: 576px) {
      margin-left: -15px;
    }

    @media (min-width: 768px) {
      margin-bottom: 50px;
      margin-left: -10px;
    }

    @media (min-width: 992px) {
      margin-left: -10px;
    }

    @media (min-width: 1200px) {
      margin-left: -10px;
    }
    @media (min-width: 1440px) {
      margin-left: 25px;
    }
    @media (min-width: 1600px) {
      margin-left: -15px;
    }

    h2 {
      margin: 0;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.8, 0.1, 0.8, 1);
      transform: rotateX(50deg);
    }

    h5 {
      font-size: 1.3rem;
      opacity: 0;
      text-transform: uppercase;
      font-weight: bold;
      transition: all 0.8s cubic-bezier(0.8, 0.1, 0.8, 1);
    }
    div {
      padding-top: 50px;
      p {
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.8, 0.1, 0.8, 1);
        margin-bottom: 50px;
      }
      span {
        p {
          opacity: 0;
          transition: opacity 0.2s cubic-bezier(0.8, 0.1, 0.8, 1);
          font-size: 1rem;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    @media (min-width: 568px) {
      padding-left: 10px;
    }
    @media (min-width: 768px) {
      padding-left: 0px;
    }
    @media (min-width: 992px) {
      justify-content: flex-end;
    }

    @media (min-width: 1200px) {
      padding-left: 80px;
    }

    h5 {
      letter-spacing: 0;
    }

    p {
      font-size: 1.1rem;
    }
  }

  &__item {
    background-color: white;
    border: none;
    margin: 50px 80px 0px 80px;
    outline: none;
    box-shadow: 1px 1px 80px 4px rgba(58, 58, 58, 0.16);
    text-align: center;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border-radius: 10px;
    opacity: 0;
    height: auto;

    &:first-child {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.1s;
    }
    &:nth-child(2) {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.4s;
    }
    &:nth-child(3) {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.6s;
    }
    &:last-child {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.9s;
    }
    @media (min-width: 576px) {
      margin: 50px 150px 0px 150px;
    }

    @media (min-width: 768px) {
      margin: 10px 30px 40px 30px;
    }

    @media (min-width: 992px) {
      margin: 10px 30px 40px 10px;
    }

    .card {
      border: none;
      padding: 40px;
      border-radius: 10px 10px 0 0;

      .card-thumbnail-wrapper {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $color__light-gray;
        padding: 18px;
        margin: 0 auto 30px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .card-cta {
      border-top: 2px solid $color__light-gray;
      padding: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
