.home-usps {
  background: linear-gradient(to right ,$color__company-primary 0%, $color__company-primary-light);
  max-width: 860px;
  margin: -80px auto 0 auto;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,.13);

  @media (min-width: 992px) {
    flex-direction: row;
    display: flex;
  }

  @media (min-width: 1440px) {
    max-width: 1200px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex: 0 33%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    animation: FadeIn .5s both ease-in-out;
    height: 100%;

    &:nth-child(2) {
      border-top: 1px solid rgba(255,255,255,.1);
      border-bottom: 1px solid rgba(255,255,255,.1);
    }

    @media (min-width: 992px) {
      padding: 30px 20px;
      justify-content: center;

      &:nth-child(2) {
        border-top: none ;
        border-bottom: none ;
        border-left: 1px solid rgba(255, 255, 255, .1);
        border-right: 1px solid rgba(255, 255, 255, .1);
      }
    }

    @for $p from 1 through 10 {
      &:nth-child(#{$p}n) {
        animation-delay: #{$p * .15}s;
      }
    }
  }

  &__icon {
    padding-right: 20px;

    @media (min-width: 992px) {
      padding-right: 30px;
    }

    img {
      width: 42px;
      height: auto;
    }
  }

  &__title {
    color: white;
    font-size: 1.25rem;
  }

  &__excerpt {
    font-size: 1rem;
    color: white;
  }

}
