.home-portfolio-about {
  position: relative;
  margin-top: -40px;
  padding-top: 80px;

  @media (min-width: 992px) {
    padding-bottom: 50px;
  }

  .col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    background-color: $color__light-gray;
    height: 100%;

    @media (min-width: 1200px) {
      width: 50%;
    }
  }

  &__left {
    width: 100%;
    order: 2;

    @media (min-width: 992px) {
      width: 50%;
      order: 1;
    }

    .home-portfolio {
      padding: 8.8% 0 8.8% 0;
      margin-bottom: -180px;

      &__items {
        justify-content: center;
        position: relative;
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;

        @media (min-width: 992px) {
          justify-content: flex-start;
          margin-top: 0px;
          margin-bottom: 10px;
        }

        @media (min-width: 1200px) {
          padding-left: 0px;
        }
        @media (min-width: 1440px) {
          padding-left: 40px;
        }
        @media (min-width: 1600px) {
          padding-left: 0px;
        }
      }

      &__item {
        width: 280px;
        height: 360px;
        padding: 0;
        margin-right: 0px;
        border-radius: 10px;
        overflow: hidden;
        opacity: 0;
        transition: all 1s cubic-bezier(0.8, 0.1, 0.8, 1);

        @media (min-width: 576px) {
          margin-right: 20px;
          height: 380px;
        }

        @media (min-width: 992px) {
          margin-right: 20px;
        }

        @media (min-width: 1200px) {
          margin-right: 40px;
        }

        &:nth-of-type(2) {
          margin-top: -50px;
          margin-left: -100px;
          transition: all 1s cubic-bezier(0.8, 0.1, 0.8, 1) 0.25s;

          @media (min-width: 768px) {
            margin-left: 0;
            margin-top: 50px;
          }

          @media (min-width: 992px) {
            margin-left: 0;
            margin-top: 50px;
          }
        }

        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__banner {
        border-radius: 10px;
        position: relative;
        background-color: white;
        padding: 50px 15px;
        z-index: 10;
        width: 250px;
        text-align: center;
        margin: 30px auto 0;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.3s;
        height: auto;
        @media (min-width: 576px) {
          padding: 50px 20px;
          width: 300px;
        }

        @media (min-width: 768px) {
          margin-top: -30px;
        }

        @media (min-width: 992px) {
          width: 250px;
        }

        @media (min-width: 1200px) {
          width: 280px;
          padding-left: 20px;
          margin-left: 0px;
        }
        @media (min-width: 1440px) {
          margin-left: 40px;
        }
        @media (min-width: 1600px) {
          margin-left: 0;
        }

        p {
          text-align: center;
          padding: 10px;
        }

        &-icon {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          padding: 25px;
          background-color: $color__light-gray;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 992px) {
      width: 50%;
      order: 1;
    }

    .home-about {
      padding: 8.33% 8.33% 8.33% 0;
      @media (min-width: 992px) {
        padding: 8.33%;
      }
      &__sub-title {
        font-size: 1.3rem;
        color: $color__company-primary;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }

      &__title {
        transition: all 0.6s cubic-bezier(0.8, 0.1, 0.8, 1);
        transform: rotateX(50deg);
        opacity: 0;
        @extend .h2;
        margin-top: 0;
      }

      &__content {
        font-size: 1rem;
        opacity: 0;
        height: auto;
        transition: opacity 1.4s ease-in-out;
      }
    }
  }
}
