a {
  transition: color .25s ease-in-out;

  &:link,
  &:visited {
    color: $color__link;
    text-decoration: none;
    position: relative;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
    outline: none;
    text-decoration: none;
  }

  &.primary-btn {
    background: linear-gradient(to right, $color__primary-btn-left 0%, $color__primary-btn-right);
    color: #fff;
    padding: 10px 60px 10px 15px;
    line-height: 1rem;
    font-size: 1.2rem;
    border-radius: 3px;
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      content: '';
      z-index: 1;
      background-color: rgba(255, 255, 255, .15);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      opacity: 0;
      transition: transform .33s cubic-bezier(0.82, 0.01, 0.77, 0.78), opacity .25s cubic-bezier(0.82, 0.01, 0.77, 0.78);
    }

    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      background-image: url('/wp-content/themes/webcommitment-theme/img/right-arrow.svg');
      background-size: 16px 13px;
      background-repeat: no-repeat;
      background-position: center;
      width: 45px;
      height: 100%;
      overflow: hidden;
      border-left: 1px solid rgba(255, 255, 255, .33);
    }

    &:hover {
      &:before {
        transform: translateY(0%);
        opacity: 1;
      }

      &:after {
        animation: BackgroundPositionLeftRight 1.6s infinite;

      }
    }
  }

  &.secondary-btn {
    color: $color__company-tertiary;
    padding: 10px 60px 10px 15px;
    line-height: 1rem;
    font-size: 1.3rem;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    &:before {
      position: absolute;
      content: '';
      z-index: 1;
      background-color: rgba(255, 255, 255, .15);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      opacity: 0;
      transition: transform .33s cubic-bezier(0.82, 0.01, 0.77, 0.78), opacity .25s cubic-bezier(0.82, 0.01, 0.77, 0.78);
    }

    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      background-image: url('/wp-content/themes/webcommitment-theme/img/right-arrow-secondary.svg');
      background-size: 20px 16px;
      background-repeat: no-repeat;
      background-position: center;
      width: 55px;
      height: 100%;
      overflow: hidden;
      border-left: 1px solid rgba(255, 255, 255, .33);

    }

    &:hover {
      color: $color__company-secondary;
      &:before {
        transform: translateY(0%);
        opacity: 1;
      }

      &:after {
        animation: BackgroundPositionLeftRight 1.6s infinite;
      }
    }
  }
}