body {
  overflow-x: hidden;
}

.page-blog {
  &__wrapper {
    @media (min-width: 1200px) {
      padding-left: 0px;
      padding-right: 0px;
    }
    @media (min-width: 1440px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: 1600px) {
      padding-left: 0;
      padding-right: 0;
    }

    > .row {
      .col-card {
        opacity: 0;
        &:first-of-type {
          animation: FadeIn 1.5s cubic-bezier(0.3, 0.1, 0.8, 1) 0.1s 1 forwards;
          //   animation-delay: 3s;
        }
        &:nth-of-type(2) {
          animation: FadeIn 1.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.2s 1 forwards;
        }
        &:nth-of-type(3) {
          animation: FadeIn 1.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.3s 1 forwards;
        }
        &:nth-of-type(4) {
          animation: FadeIn 1.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.7s 1 forwards;
        }
        &:nth-of-type(5) {
          animation: FadeIn 1s cubic-bezier(0.8, 0.1, 0.8, 1) 0.8 1 forwards;
        }
        &:nth-of-type(6) {
          animation: FadeIn 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.9 1 forwards;
        }
        .content-card {
          position: relative;
          border-radius: 10px;
          background-color: white;
          margin: 50px 0 25px 0;

          .card-title {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;

            h2 {
              font-weight: 600;
              font-size: 1.65rem;
              color: white;
            }
          }

          .card-thumb {
            -webkit-appearance: none;
            width: 100%;
            height: 22%;
            margin: 0;
            overflow: hidden;
            position: relative;
            border-radius: 10px 10px 0 0;
            background-image: linear-gradient(
              166deg,
              rgba(0, 0, 70, 1) 2%,
              rgba(0, 0, 70, 0.5) 78%,
              rgba(0, 0, 70, 0.9) 89%
            );
            background-size: cover;

            @media (min-width: 576px) {
              height: 20%;
            }

            @media (min-width: 1200px) {
              height: 15%;
            }

            a {
              position: static;
            }

            img {
              @include transition;
              opacity: 0.3;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px 10px 0 0;
            }

            &:hover {
              border-radius: 10px 10px 0 0;

              img {
                transform: scale(1.2);
              }
            }

            span.date {
              position: absolute;
              bottom: 20px;
              right: 20px;
              padding: 10px 15px;
              font-size: 0.8rem;
              font-weight: 600;
              color: white;
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-radius: 5px;
            }

            span.cat {
              position: absolute;
              text-transform: uppercase;
              bottom: 20px;
              right: 140px;
              padding: 10px 15px;
              font-size: 0.8rem;
              color: white;
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-radius: 5px;
              font-weight: 600;
            }
          }

          .card-excerpt {
            padding: 5%;
            color: $color__company-primary;
          }

          .card-cta {
            border-top: 2px solid $color__light-gray;
            bottom: 20px;
            padding: 25px 0;
          }
        }
      }
    }
  }
}

.breadcrumbs {
  font-size: 3rem;
  color: white;

  a {
    color: $color__gray;
    margin-right: 50px;
    position: relative;
    font-size: 1.2rem;
    display: inline-block;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      background-image: url("/wp-content/themes/webcommitment-theme/img/right-arrow-breadcrumb.svg");
      background-size: 20px 19px;
      background-repeat: no-repeat;
      background-position: center;
      width: 45px;
      height: 100%;
    }
  }
}
